.home {
  @include flex(row, flex-start, flex-start);
  &__navbar {
    flex-basis: 10%;
    position: sticky;
    top: 0;
    left: 0;
    &__button {
      display: none;
    }
  }
  &__page {
    margin-left: 5rem;

    flex-basis: 90%;
  }
}

@include respond-to(lg) {
  .home {
    flex-wrap: wrap;
    &__navbar {
      flex-basis: 100%;
      position: sticky;
      top: 0;
      left: 0;
      z-index: 9999;
      &__button {
        @include flex(row, center, center);
        background-color: rgba(0, 0, 0, 0.686);
        padding: 0.3rem 1rem;
        cursor: pointer;
        display: flex;
        position: absolute;
        top: 2rem;
        right: 2rem;
        span {
          height: 20px;
          width: 1px;
          background-color: $fourth-color;
          margin: 5px;
        }
      }
      &__button:hover {
        background-color: rgb(73, 71, 71);
      }
    }
    &__page {
      flex-basis: 100%;
      margin-left: 2rem;
    }
  }
}
@include respond-to(md) {
  .home {
    &__page {
      margin-left: 1rem;
    }
  }
}
