.skills {
  height: 100vh;
  @include flex(row, space-between, center);
  &__right {
    flex-basis: 45%;
    h1 {
      color: $fourth-color;
      @include font-size(3rem);
    }
    p {
      padding: 0.5rem 0;
    }
  }
  &__left {
    flex-basis: 45%;
    h1 {
      color: $fourth-color;
      @include font-size(3rem);
    }
    p {
      padding: 0.5rem 0;
    }
  }
}

@include respond-to(lg) {
  .skills {
    margin-left: 0;
  }
}
@include respond-to(sm) {
  .skills {
    margin-right: 1rem;
    &__right {
      h1 {
        @include font-size(2.5rem);
      }
      p {
        padding: 0.5rem 0;
        font-size: 0.8rem;
      }
    }
    &__left {
      h1 {
        @include font-size(2.5rem);
      }
      p {
        padding: 0.5rem 0;
        font-size: 0.8rem;
      }
    }
  }
}
