.skills {
  height: 100vh;
  @include flex(row, space-between, center);
  &__right {
    flex-basis: 45%;
    h1 {
      color: $fourth-color;
      @include font-size(3rem);
    }
    p {
      padding: 0.5rem 0;
    }
  }
  &__left {
    flex-basis: 45%;
    h1 {
      color: $fourth-color;
      @include font-size(3rem);
    }
    p {
      padding: 0.5rem 0;
    }
  }
}

@include respond-to(lg) {
  .skills {
    margin-left: 0;
  }
}
