.welcome {
  height: 100vh;
  @include flex(column, center, flex-start);
  margin-left: 5rem;
  h1 {
    @include font-size(4rem);
  }
  p {
    color: $grey;
    margin: 2rem 0px;
  }
  button {
    color: $fourth-color;
    background-color: transparent;
    border: 1px solid $fourth-color;
    padding: 1rem 4rem;
    cursor: pointer;
  }
  button:hover {
    color: $primary-color;
    background-color: $fourth-color;
    transition: all 0.3s 0.3s ease-in-out;
  }
}
