.welcome {
  height: 100vh;
  @include flex(column, center, flex-start);
  h1 {
    @include font-size(4rem);
  }
  p {
    color: $grey;
    margin: 2rem 0px;
  }
}
@include respond-to(lg) {
  .welcome {
    h1 {
      @include font-size(3.5rem);
    }
    p {
      color: $grey;
      margin: 2rem 0px;
    }
  }
}
